<h3>Estadísticas</h3>
<ul>
	<li><strong class='orange'>Número de preguntas:</strong> <%= numQuestions %></li>
	<li><strong class='orange'>Número de comentarios totales:</strong> <%= numComments %></li>
	<li><strong class='orange'>Número medio de comentarios por pregunta:</strong> <%= commentsAvg %></li>
	<li><strong class='orange'>Número de preguntas sin comentarios:</strong> <%= numQuestionsWithoutComments %></li>
	<li><strong class='orange'>Número de preguntas con comentarios:</strong> <%= numQuestionsWithComments %></li>
</ul>